<% provide(:title, "Ajouter une doll à louer") %>
<div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-offset-2 col-md-8">
        <div class="card-edit-doll">
    <h1>Ajouter une doll à la location</h1>

    <%= simple_form_for [@user, @doll] do |f| %>
      <div class="form-group-reduced">
        <%= f.input :name, label: 'Son nom', :label_html => { :class => 'doll-name' }, :input_html => { :class => 'form-control' }, error: 'Le nom est obligatoire' %>
      </div>
      <div class="form-group">
        <%= f.input :description, label: 'Sa description', :as => :text, :label_html => { :class => 'doll-name' }, :input_html => { :class => 'form-control', :rows => 5 }, error: 'Veuillez mettre une description' %>
      </div>
      <div class="form-group-reduced">
        <%= f.input :price, label: 'Prix de la location', :label_html => { :class => 'doll-name' }, :input_html => { :class => 'form-control' }, error: 'Veuillez indiquer un prix' %>
      </div>

      <span id="label-photo">Photo de la doll</span>
      <div class="form-group-photo">
        <label class="custom-file-photo">
          <%= f.input :photo, as: :attachinary, :label_html => { :class => 'doll-name' }, :input_html => { :class => 'custom-file-input' } %>

          <span class="custom-file"></span>

        </label>

      </div>

      </div>
      <%= f.button :submit, class: 'btn btn-booking' %>
   <% end %>
    </div>
  </div>
</div>


