<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card-profile">
        <h2>Votre profil</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :address %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card-profile card-profile-activity">
        <div class="buttons">
          <%= link_to new_user_doll_path(@user) do %>
            <i class="fa fa-plus"></i>
            <span>Ajouter une doll en location</span>
          <% end %>
        </div>

        <h5>Vous avez <strong><%= @user.dolls.count %></strong> doll<%= "s" if @user.dolls.count>1 %> en location:</h5>

        <ul class="list-group">
          <% @user.dolls.each do |dolie| %>
            <% if dolie.persisted? %>

                <% if dolie.photo?%>
                  <li class="list-group-item profil-doll-image" style="background-image: linear-gradient(-225deg, rgba(50,0,20,0.2) 0%, rgba(50,0,20,0.2) 50%), url('<%= cl_image_path dolie.photo.path %>')">
                <% else %>
                  <li class="list-group-item profil-doll-image" style="background-image: linear-gradient(-225deg, rgba(50,0,20,0.2) 0%, rgba(50,0,20,0.2) 50%), url('http://res.cloudinary.com/doodlid/image/upload/e_blur:1337/v1502810434/doll8_msmtic.jpg')">
                <% end %>

                  <div class="profil-doll">
                    <div class="">
                     <h3><%= dolie.name %></h3>
                      <%= link_to doll_path(dolie), method: :delete do %>
                        <i class="fa fa-trash align-right"></i>
                      <% end %>
                      <%= link_to edit_doll_path(dolie) do %>
                        <i class="fa fa-pencil align-right"></i>
                      <% end %>
                      <%= link_to doll_path(dolie) do %>
                        <i class="fa fa-eye align-right"></i>
                      <% end %>
                      <% unless dolie.photo %>
                        <%= link_to "Ajouter l'image manquante", edit_doll_path(dolie), class: "btn btn-pink" %>
                      <% end %>
                    </div>
                    <div class="">
                      <%= dolie.description %>
                    </div>
                    <div class="">
                      <h4><%= dolie.price %>€</h4>
                    </div>
                  </div>
                </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- Dolls booked ******************-->
    <div class="col-xs-12 col-sm-6">
      <h4>Dolls Louez</h4>
      <h5>Vous avez louez <%= @bookings.count %> dolls</h5>
      <% @bookings.each do |booking| %>
        <div class="message">
          <div class="message-name text-center">
            <h3><%= booking.doll.name %></h3>
          </div>
          <div class="message-body text-center">
            <p><%= booking.book_at %> </p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- ************************- -->
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-booking" %>
        </div>
        <div class="card-profile-cancel">
          <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
          <%= link_to "Back", :back %>
        </div>
      <% end %>
    </div>
  </div>
</div>
